appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.1
bidict==0.19.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.7
confusable-homoglyphs==3.2.0
decorator==4.4.2
distlib==0.3.1
Django==3.0.8
django-crispy-forms==1.9.2
django-registration==3.1
filelock==3.0.12
future==0.18.2
geocoder==1.38.1
idna==2.10
isort==4.3.21
jsonfield==3.1.0
lazy-object-proxy==1.4.3
loc==0.0.2
mccabe==0.6.1
Pillow==7.2.0
pycodestyle==2.6.0
pylint==2.5.3
pypiwin32==223
python-decouple==3.3
pyttsx3==2.90
pytz==2020.1
pywin32==228
ratelim==0.1.6
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.9
virtualenv==20.0.31
wikipedia==1.4.0
wrapt==1.12.1
