<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <form action="{% url 'create' %}" method="POST" id="form">
        {% csrf_token %}
        <input type="hidden" value="{{ quiz }}" name="object">
        {{ form.as_p }}
        {% if last %}
            <button type="submit">Submit</button>
        {% else %}
            <button type="submit">Next</button>
        {% endif %} 
    </form>
</body>
</html>
