<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <button><a href="{% url 'logout' %}"><h3>Logout</h3></a></button><br><br><hr>
    {% if user.is_teacher %}
        <a href="{% url 'create_info' %}"><h4>Add new quiz</h4></a><br><br>
        {% for quiz in quizzes %}
            <span><a href="{% url 'display' quiz.id %}">{{ quiz }}  </a><button><a href="{% url 'delete' quiz.id %}">delete</a></button></span><br><br>
        {% endfor %}
    {% else %}
        {% for quiz in quizzes %}
            <span><a href="{% url 'display' quiz.id %}">{{ quiz }}</a><br><br>
        {% endfor %}
    {% endif %}
    
</body>
</html>