<!DOCTYPE html>
<html lang="en">

<head>
    <title>Display</title>
</head>

<body>
    <button><a href="{% url 'logout' %}">
            <h3>Logout</h3>
        </a></button>
    <button><a href="{% url 'index' %}">
            <h3>Home</h3>
        </a></button><br><br>
    <hr>
    {% if user.is_teacher %}
    <p><a href="{% url 'result_list' quiz %}">View Results</a></p>
    <hr>
    {% for question in questions %}
    <strong>Question : </strong>{{ question.question_text }} <br><br>
    <strong>Option 1 : </strong>{{ question.option1 }} <br>
    <strong>Option 2 : </strong>{{ question.option2 }} <br>
    <strong>Option 3 : </strong>{{ question.option3 }} <br>
    <strong>Option 4 : </strong>{{ question.option4 }} <br>
    <strong>Correct Answer : </strong>{{ question.correct_answer }} <br><br>
    <button><a href="{% url 'update' question.id %}">Update</a></button><br><br><br>
    <hr>
    {% endfor %}
    {% else %}
    {% if attempted %}
    <h2>You have already attempted this test</h2>
    <a href="{% url 'result' quiz %}">
        <h4>Click here to view your result</h4>
    </a>
    {% else %}
    <form action="{% url 'display' quiz %}" method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <strong>Question : </strong>{{ question.question_text }}<br><br>
        <input type="radio" name="choice_{{ question.id }}" value="{{ question.option1 }}">{{ question.option1 }} <br>
        <input type="radio" name="choice_{{ question.id }}" value="{{ question.option2 }}">{{ question.option2 }} <br>
        <input type="radio" name="choice_{{ question.id }}" value="{{ question.option3 }}">{{ question.option3 }} <br>
        <input type="radio" name="choice_{{ question.id }}" value="{{ question.option4 }}">{{ question.option4 }} <br>
        <hr>
        {% endfor %}
        <br><br>
        <button type="submit">Submit</button>
    </form>
    {% endif %}
    {% endif %}



</body>

</html>