<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button><a href="{% url 'logout' %}"><h3>LOGOUT</h3></a></button>
{{ if user.is_teacher }}

<a href="{% url 'create-quiz' %}"><h3>ADD NEW QUIZ</h3></a><br><br><hr>
{% for quiz in quizzes %}

<span><a href="{% url 'display' quiz.id %}">{{ quiz }}</a> <button><a href="{% url 'delete' quiz.id %}">DELETE</a> </button></span><br><br><hr>
{% endfor %}
{% else %}

{% for quiz in quizzes %}
<span><a href="{% url 'display' quiz.id %}">{{ quiz }}</a> </span><br><br>
{% endfor %}
{% endif %}
</body>
</html>